.buttonStyling {   
    text-align: center;
    button:hover{
        color: greenyellow;
        animation-name: button;
        animation-duration: 3s;
       
    }
}

@keyframes button {
    0%   {background-color:red; font-size: 2rem;}
    25%  {background-color:yellow; font-size: 1.5rem;}
    50%  {background-color:blue; font-size: 2rem;}
    75%  {background-color:green; font-size: 1.5rem;}
    100% {background-color:red; font-size: 2rem;}
  }