.tooltipButton{
    button{
        position: relative;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #e4e4e4;
        font-weight: bold;
        text-transform: capitalize;
        cursor: pointer;
        transition: border-color 0.25s;
    }
}
.tooltipMessage{
    position: absolute;
    transform: translateX(-50%) translateY(-100%);
    left: 50%;
    top: -0.5rem;
    padding: 5px 20px;
    background-color: #e4e4e4;
    border-radius: 0.3rem;
    width: auto;
    p {
        padding: 0;
        margin: 0;
    }
}